form.contactForm.submitted {
  overflow: hidden;
  max-height: 0;
}

form.contactForm {
    max-height: 1000px;
    transition: max-height 1s ease-in;
}

div.ticket {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in;
}

div.ticket.submitted {
    max-height: 1000px;    
}

