.spotlightx {
  min-height: 100vh;
}

.spotlightx .content {
  border-color: #59b377;
  border-style: solid;
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: -moz-transform 1s ease, opacity 1s ease;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
  -ms-transition: -ms-transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  z-index: 1;
  background: rgba(23, 24, 32, 0.85);
  /*
  min-width: 100%;
  padding: 6em;
  vertical-align: middle;
  text-align: center;
  opacity: 1;
  margin: 0;
   */
}

.spotlightx .goto-next {
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: -moz-transform 0.75s ease, opacity 1s ease-in;
  -webkit-transition: -webkit-transform 0.75s ease, opacity 1s ease-in;
  -ms-transition: -ms-transform 0.75s ease, opacity 1s ease-in;
  transition: transform 0.75s ease, opacity 1s ease-in;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}

.spotlight.top .content,
.spotlightx.bottom .content {
  left: 0;
  width: 100%;
  margin-top: 20vh;
  position: absolute;
  bottom: 0;
}

.spotlight.top .content {
  border-bottom-width: 0.35em;
  top: 0;
}

.spotlightx.bottom .content {
  border-top-width: 0.35em;
  bottom: 0;
}

.spotlight.left .content,
.spotlight.right .content {
  height: 101%;
  padding: 6em 3em;
  top: 0;
  width: 28em;
}

.spotlight.left .content {
  border-right-width: 0.35em;
  left: 0;
}

.spotlight.right .content {
  border-left-width: 0.35em;
  right: 0;
}

.spotlightx.inactive .content {
  opacity: 0;
}

.spotlightx.inactive .goto-next {
  -moz-transform: translate(0, 1.5em);
  -webkit-transform: translate(0, 1.5em);
  -ms-transform: translate(0, 1.5em);
  transform: translate(0, 1.5em);
  opacity: 0;
}

.spotlight.inactive.top .content {
  -moz-transform: translate(0, -5em);
  -webkit-transform: translate(0, -5em);
  -ms-transform: translate(0, -5em);
  transform: translate(0, -5em);
}

.spotlightx.inactive.bottom .content {
  -moz-transform: translate(0, 5em);
  -webkit-transform: translate(0, 5em);
  -ms-transform: translate(0, 5em);
  transform: translate(0, 5em);
}

.spotlight.inactive.left .content {
  -moz-transform: translate(-5em, 0);
  -webkit-transform: translate(-5em, 0);
  -ms-transform: translate(-5em, 0);
  transform: translate(-5em, 0);
}

.spotlight.inactive.right .content {
  -moz-transform: translate(5em, 0);
  -webkit-transform: translate(5em, 0);
  -ms-transform: translate(5em, 0);
  transform: translate(5em, 0);
}

.backdropped.spotlightx:before {
  height: 00vh;
  display: none;
}


@media screen and (max-width: 980px) {


  .spotlightx .content {
    padding-left: 1em;
    padding-right: 1em;
  }


  .spotlight .content {
    padding: 9em 0;
    text-align: center;
  }

  .spotlight .content header {
    display: block;
    margin: 0 0 2em 0;
    text-align: center;
  }

  .spotlight .content .image {
    margin: 0;
  }
}

@media screen and (max-width: 736px) {
  .backdropped.spotlightx .content {
    padding-bottom: 5.5em;
  } 
 
  .backdropped.spotlightx:before {
    height: 50vh;
  }

  .spotlight {
    box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.25);
    min-height: calc(100vh - 44px);
  }

  .spotlight:before {
    height: calc(100vh - 44px);
  }

  .spotlight .content {
    padding: 4.0625em 1.5em 4.875em 1.5em;
  }

  .spotlight .content .image {
    height: 9em;
    width: 9em;
  }
}

@media screen and (max-width: 480px) {
  /* Banner */

  .spotlightx .content {
    padding-top: 1.5em;
  }

  .spotlightx p {
    margin-bottom: 1em;
  }

  .goto-next {
    height: 4em;
    right: 0;
    left: auto;
  }
}

@media screen and (max-width: 320px) {
  .goto-next {
    height: 1.5em;
  }

  .spotlightx.bottom .content {
    padding-bottom: 0.5em;
  }

  .spotlightx.bottom p.verbose {
    display: none;
  }
}