.service-item img {
  width: 100%;
  height: 100%;
}

.service-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  top: 0;
  left: 0;
  text-align: center;
  padding: 0.5em;
  opacity: 0;
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  transition: all 0.6s ease-out;
}

/*hover*/
.service-item:hover .overlay {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.service-item .outside {
  position: relative;
  width: 100%;
  height: 100%;
}

.service-item .inside {
  height: calc(100% - 3em);
  position: absolute;
  width: 100%;
}
.service-item .overlay-child {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -55%;
  transform: translate(-50%, -50%);
  /* padding: 0.5em 2em; */
  width: 100%;
}

/*hover*/
.service-item:hover .overlay-child {
}

.service-item {
  height: 100%;
  display: block;
  position: relative;
}

/* .service-item .fa {
    font-size: 300%;
} */

.service-item a.button {
  padding: 0.5em 1ex;
  display: block;
  white-space: normal;
  line-height: 1.5em;
  height: auto;
  white-space: normal;
  position: absolute;
  width: 100%;
  bottom: 2px;
  font-size: 90%;
}

.service-item a.button .fa {
  display: inline;
}

.service-item h3 {
  margin: 0;
}

.service-item a {
  border-bottom: none;
}
