.backdropped {
  background-attachment: fixed;
  background-color: #272833;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 21;
}
/* this is so we can get the .content vertically aligned in the middle */
.backdropped:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  width: 1%;
}

.backdropped:after {
  background-image: -moz-linear-gradient(
      top,
      rgba(23, 24, 32, 0.95),
      rgba(23, 24, 32, 0.15)
    ),
    url('../../img/overlay.png');
  background-image: -webkit-linear-gradient(
      top,
      rgba(23, 24, 32, 0.95),
      rgba(23, 24, 32, 0.15)
    ),
    url('../../img/overlay.png');
  background-image: -ms-linear-gradient(
      top,
      rgba(23, 24, 32, 0.95),
      rgba(23, 24, 32, 0.15)
    ),
    url('../../img/overlay.png');
  background-image: linear-gradient(
      to top,
      rgba(23, 24, 32, 0.95),
      rgba(23, 24, 32, 0.15)
    ),
    url('../../img/overlay.png');
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.backdropped .content {
  display: inline-block;
  min-width: 50%;
  padding: 6em;
  position: relative;
  text-align: right;
  vertical-align: middle;
  z-index: 1;
  text-align: center;
}

.backdropped .content header {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.backdropped .content header h2 {
  font-size: 2.5em;
  margin: 0;
}

.backdropped .content header p {
  margin: 0.5em 0 0 0;
  top: 0;
}

.backdropped .content .logo {
  width: 100%;
}

.backdropped .content .image {
  border-radius: 100%;
  display: inline-block;
  height: 18em;
  margin-left: 3em;
  vertical-align: middle;
  width: 18em;
}

.backdropped .content .image img {
  border-radius: 100%;
  display: block;
  width: 100%;
}

/* @supports (-webkit-overflow-scrolling: touch) {
    .backdropped {
        background-attachment: scroll;
    }
} */

@media screen and (max-width: 1280px) {
  .backdropped .content {
    padding: 4.5em;
  }
}

@media screen and (max-width: 980px) {
  /* Banner */

  .backdropped {
    background-attachment: scroll;
  }

  .backdropped .content {
    padding: 9em 0;
    text-align: center;
  }

  .backdropped .content header {
    display: block;
    margin: 0 0 2em 0;
    text-align: center;
  }

  .backdropped .content .image {
    margin: 0;
  }
}

@media screen and (max-width: 736px) {
  .backdropped {
    box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.25);
    min-height: calc(100vh - 44px);
  }

  .backdropped:before {
    height: calc(100vh - 44px);
  }

  .backdropped .content {
    padding: 4.0625em 1.5em 4.875em 1.5em;
  }

  .backdropped .content header h2 {
    font-size: 1.5em;
  }

  .backdropped .content .image {
    height: 9em;
    width: 9em;
  }
}

@media screen and (max-width: 480px) {
  /* Banner */

  .backdropped .content {
    padding: 1.5em 1em 1em 1em;
  }
}
